<form action="{{ path('contact') }}" method="post" class="" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <div class="form-actions">
        <button type="submit" class="button">Contact Us</button>
    </div>
</form>
